header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.465);
  padding-top: -5px;
  padding-bottom: -5px;
}

nav {
  width: 40%;
  margin-right: 30%;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}

li p {
}

.nav-item {
    text-decoration: none !important;
    color: black !important;
    font-size: 20px;
}